# dependencies
node_modules/
.npm-cache/

# Next.js
.next/
out/
playwright-report/
test-results/

# TypeScript
tsconfig.tsbuildinfo

# generated code
src/generated/prisma/

# production
build/

# environment
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store
Thumbs.db

/src/generated/prisma
